.image-text {
  position: relative;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.image-text-content {
  width: 50%;
  display: flex;
}
.inc-dec-button {
  .btn-outline-success {
    border-radius: 0%;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-hover-bg: #ffffff;
  }
  .inc-button {
    padding-top: 0px;
    padding-bottom: 0px;
    .inc-span {
      font-size: 30px;
      color: #34c759;
    }
  }

  .inc-button:hover {
    background-color: rgb(255, 255, 255);
  }
}
